In [1]:
import numpy as np
import pandas as pd

In [5]:
dict1 = {"Isim": ["Ahmet", "Mehmet", "Zeynep", "Ali"], "Spor": ["Koşu", "Yüzme", "Koşu", "Basketbol"],
        "Kalori": [100,200,300,400]}

In [7]:
df1 = pd.DataFrame(dict1, index=[0,1,2,3])

In [8]:
df1

     Isim       Spor  Kalori
0   Ahmet       Koşu     100
1  Mehmet      Yüzme     200
2  Zeynep       Koşu     300
3     Ali  Basketbol     400

In [9]:
dict2 = {"Isim": ["Osman", "Levent", "Fatma", "Mert"], "Spor": ["Koşu", "Yüzme", "Koşu", "Basketbol"],
        "Kalori": [200,500,300,400]}

In [10]:
df2 = pd.DataFrame(dict2, index=[4,5,6,7])

In [15]:
dict3 = {"Isim": ["Ayşe", "Duygu", "Elif", "Emrah"], "Spor": ["Koşu", "Yüzme", "Badminton", "Tenis"],
        "Kalori": [800,200,900,400]}

In [16]:
df3 = pd.DataFrame(dict3, index=[8,9,10,11])

## concatenation

In [18]:
pd.concat([df1,df2,df3], axis=0)

      Isim       Spor  Kalori
0    Ahmet       Koşu     100
1   Mehmet      Yüzme     200
2   Zeynep       Koşu     300
3      Ali  Basketbol     400
4    Osman       Koşu     100
5   Levent      Yüzme     200
6    Fatma       Koşu     300
7     Mert  Basketbol     400
8     Ayşe       Koşu     800
9    Duygu      Yüzme     200
10    Elif  Badminton     900
11   Emrah      Tenis     400

## Merge

pd.merge(mergeDF1, mergeDF2, on="Column")

## Tips and Tricks

In [22]:
wageDict = {"Isim": ["Ali","Veli","Mert","Zeynep"], "Departman":["Satıış", "İK", "Yazılım", "Yazılım"], "Maaş": [200,300,500,400]}

In [23]:
wageDF = pd.DataFrame(wageDict)

In [24]:
wageDF["Departman"].unique()

array(['Satıış', 'İK', 'Yazılım'], dtype=object)

In [25]:
wageDF["Departman"].nunique()

3

In [26]:
wageDF["Departman"].value_counts()

Departman
Yazılım    2
Satıış     1
İK         1
Name: count, dtype: int64

In [28]:
def bruttenNete(maas):
    maas * 0.66